{% extends 'group/index.html' %}

{% block subtitle %}{{ _('Topics') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Topics'), named_route='topics' %}</li>
{% endblock %}

{% block page_primary_action %}{% endblock %}

{% block primary_content_inner %}
    <h1>Topics</h1>
    <p>Browse Alberta Government resources by topic</p>

    <div class="row topics">
        <div class="inner">
            <h3>Resource Topics</h3>
        {% for topic in h.topics() %}
            <div class="topic{% if loop.index is divisibleby 4 %} fourth{% endif %}">
                <h3><a href="/topics/{{ topic.name }}">{{ topic.title }}</a></h3>
                <p> {{ topic.description }}</p>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}

{% block secondary_content %}
{% endblock %}
