{#
Construct a facet module populated with links to filtered results.

name
  The field name identifying the facet field, eg. "tags"

title
  The title of the facet, eg. "Tags", or "Tag Cloud"

label_function
  Renders the human-readable label for each facet value.
  If defined, this should be a callable that accepts a `facet_item`.
  eg. lambda facet_item: facet_item.display_name.upper()
  By default it displays the facet item's display name, which should
  usually be good enough

if_empty
  A string, which if defined, and the list of possible facet items is empty,
  is displayed in lieu of an empty list.

count_label
  A callable which accepts an integer, and returns a string.  This controls
  how a facet-item's count is displayed.

extras
  Extra info passed into the add/remove params to make the url

alternative_url
  URL to use when building the necessary URLs, instead of the default
  ones returned by url_for. Useful eg for dataset types.

hide_empty
  Do not show facet if there are none, Default: false.

within_tertiary
  Boolean for when a facet list should appear in the the right column of the
  page and not the left column.

#}
{% ckan_extends %}

{% block facet_list_heading %}
  <h4 class="module-heading">
    {#    {% set title = title or h.get_facet_title(name) %} #}
    {% if title == 'Organizations' %}
    {% set title = 'Publisher' %}
    {% endif %}
    {{ title }}
    <i class="fa fa-sort-alpha-asc"></i>
    <i class="fa fa-sort-amount-asc"></i>
  </h4>
{% endblock %}

{% block facet_list_items %}
  {% set limit = 3 %}
  {% with items = items or h.get_facet_items_dict(name) %}
  {% if items %}
    <nav>
      <ul class="{{ nav_class or 'unstyled nav nav-simple nav-facet' }}" data-limit="{{ limit }}">
      {# We need all the items in order to sort to work properly.
         The CKAN's ini file has to have "search.facets.default" value set to a large number, so all of the items
         are in the list. We display only the first 5 and the rest is hidden/shown via css + javascript. #}
      {% set remaining_items = items|length - limit %}
      {% for item in items %}
        {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
        {% set label = label_function(item) if label_function else item.display_name %}
        {% set label_truncated = label if not label_function else label %}
        {% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
        {% set active = ' active' if item.active else '' %}
        {% set hidden = ' hidden' if loop.index > limit else '' %}
        <li class="{{ nav_item_class or 'nav-item' }}{{ active }}{{hidden }}">
          <a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
            <span>{{ label_truncated }} {{ count }}</span>
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>

    {% if remaining_items > 0 %}
      <p class="module-footer">
        <a class="show-more" href="#">{{ _('Show more') }} ({{ remaining_items }})</a>
        <a class="show-less" href="#">{{ _('Show fewer') }}</a>
      </p>
    {% endif %}
  {% else %}
    <p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
  {% endif %}
  {% endwith %}
{% endblock %}
