{% ckan_extends %}
{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

{% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set query = c.q %}
{% set pubtype = package.type %}
{% set truncate = truncate or 300 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set modified_date = h.render_datetime(package.date_modified) %}
{# set ministry = package.organization.title #}

{% block package_item %}
{% if not c.display_private_only %}
  {{ super() }}
{% else %}
    {% if c.display_private_only and not package.private %}
    {# skip #}
    {% elif package.type == 'opendata' %}
    <div class="row {{ item_class or "dataset-item" }}">
        <div class="col-sm-12 col-md-8 nopadding">
        {% block content %}
        <div class="dataset-content">
            {% block heading %}
              {% block heading_title %}
              <div class="row">
                  <div class="col-xs-12">
                      <h3 class="package-header"><a href="/{{package.type}}/{{package.name}}">{{package.title}}</a></h3>
                  </div>
              </div>
              {% endblock %}

              {% block heading_meta %}
                  {% if package.private %}
                      <span class="dataset-private label"><i class="icon-lock"></i>{{ _('Private') }}</span>
                  {% endif %}
                  {{ super() }}
              {% endblock %}
            {% endblock %}

            {% block banner %}
              {{ super() }}
            {% endblock %}

            {% block pubdate %}
              <div class="row">
                  <div class="col-xs-12">
                      <div class="row">
                          <div class="col-xs-12">
                              <h5 class="sm">Last Modified</h5>
                          </div>
                          <div class="col-xs-12">
                              <p class="date">{{ modified_date }}</p>
                          </div>
                      </div>
                  </div>
              </div>
            {% endblock %}


            {% block notes %}
              {{ super() }}
            {% endblock %}

            {% block package_tags %}
              <div class="row">
                  <div class="col-xs-12">
                      {% snippet "package/snippets/tagsf.html", tags=package.tags %}
                  </div>
              </div>
            {% endblock %}
            <br/>
        </div>
        </div>
        <div class="col-sm-12 col-md-4">
           <div class="row">
               <div class="col-xs-12">
                   <div class="row">
                       <div class="col-xs-12">
                        {% block PUBTYPE %}
                        {% set url = h.add_url_param(new_params={'dataset_type': pubtype}) %}
                    <a href="{{ url }}" class="btn btn-default btn-sm" data-format="{{ pubtype.lower() }}">{{ pubtype }}</a>
                        {% endblock %}
                        </div>
                    </div>
                   <div class="row">
                       <div class="col-xs-12">
                           {% block resources %}
                             {{ super() }}
                           {% endblock %}
                       </div>
                   </div>
               </div>
           </div>
        </div>



        {% endblock %}
    </div>
    {% endif %}
{% endif %}
{% endblock %}
