{% ckan_extends %}
{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

{% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set query = c.q %}
{% set pubtype = package.type %}
{% set truncate = truncate or 300 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set modified_date = h.render_datetime(package.date_modified) %}
{# set ministry = package.organization.title #}

{% block package_item %}
  {% if c.display_private_only and not package.private %}
  {% else %}
      {{ super() }}
  {% endif %}
{% endblock %}

{% block content %}
    <div class="dataset-content">
  {% block heading %}
    {% block heading_title %}
        <h3 class="package-header"><a href="/{{package.type}}/{{package.name}}">{{package.title}}</a></h3>
    {% endblock %}

    {% block heading_meta %}
      {% if package.private %}
            <span class="dataset-private label"><i class="icon-lock"></i>{{ _('Private') }}</span>
      {% endif %}
      {{ super() }}
    {% endblock %}
  {% endblock %}

  {% block banner %}
    {{ super() }}
  {% endblock %}

  {% block notes %}
    <div class="package-description">{{ super() }}</div>
    {{ super() }}
  {% endblock %}

  {% block resources %}
    {{ super() }}
  {% endblock %}

  {% block pubdate %}
        <div class="pub-date">
        {% if package.published_date and not h.is_future_date(package.published_date) %}
            <span>Published: {{ package.published_date }}</span> |
            <span>Record Modified: {{ package.date_modified }}</span>
        {% else %}
            <span>Unpublished</span>
        {% endif %}
        </div>
  {% endblock %}

{% endblock %}
