{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>511 Alberta</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>511 Alberta is the source for Alberta’s official road reports. The 511 Alberta app provides information on Alberta’s Highway Network, including:</p>

<ul><li>Road Conditions</li>
    <li>Road Incidents</li>
    <li>Citizen Reporting</li>
    <li>Snowplows Tracker</li>
    <li>Roadside Camera Images</li>
    <li>Construction / Maintenance Activities</li>
    <li>Traffic Status</li>
    <li>Ferry Crossings</li>
    <li>Border Crossings</li>
    <li>Weather</li>
</ul><p>&nbsp;</p>

<p><strong>Download for: </strong><br><a href="https://play.google.com/store/apps/details?&#10;&#10;id=ca.telenium.rcrs.alberta.app.mobile&amp;hl=en" target="_blank">Android</a><br><a href="https://itunes.apple.com/ca/app/511-alberta/id829908760?mt=8" target="_blank">iPhone or iPad</a></p>
</div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
