{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Aboriginal Community Profiles</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
To help promote a greater understanding of Aboriginal peoples in 

Alberta, an interactive community profiles map provides basic 

information on all eight Metis Settlements and 48 First Nations in the 

province, including location, population, linguistic groups, and 

tribal affiliation.
</p>

<p>
Main Page:
</p></div></div></div><p></p>
        <p></p><div class="field field-name-field-visualization-title field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="http://www.aboriginal.alberta.ca/InteractiveMap.cfm" target="_blank">Aboriginal Community Profiles</a></div></div></div><p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
