{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>AgroClimatic Information Service (ACIS)</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
ACIS is a collection of interactive tools that help producers, farm 

consultants, and researchers to see Alberta weather forecasts, browse 

over 10000 maps of Alberta weather and Alberta climate related 

information, and access near real time station data from over 350 

meteorological stations operating in the province of Alberta. The maps 

and weather data describe Alberta's weather, climate and related 

agriculture features to help with your long-term planning and 

decision-making throughout the growing season.
</p>

<p>
Main Page:
</p></div></div></div><p></p>
        <p></p><div class="field field-name-field-visualization-title field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="http://www.agric.gov.ab.ca/acis/" target="_blank">AgroClimatic Information Service (ACIS)</a></div></div></div><p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
