{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Alberta Wildfire</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Stay current on Alberta's wildfire situation.
</p>

<p>
See where wildfires are burning in Alberta and how they impact you. Get up-to-date information on wildfire conditions and hazard. Join our conversation on Facebook and Twitter. Report a wildfire.
</p>

<p>
Features:
</p><ul><li>Easy access to Alberta's wildfire map with up-to-date wildfire information.
</li>
<li>
Area-specific updates on wildfire situations.
</li>
<li>
Direct contact information for Alberta's wildfire-related websites, phone numbers, and email addresses.
</li>
<li>
Report a wildfire.
</li>
</ul><p>
Privacy Policy:
</p><p>
The Alberta Wildfire app does not collect, use or disclose any personal information. The app provides push notifications by using an anonymous device ID. The user is able to opt in or out of push notifications at any time. The app does not use any personal data, contacts, location, picture or media files. However, in order for the Android version of the app to have the ability to send push notifications to users, the Google Cloud Messaging service requires the user to accept the general “get accounts” permission statement. Therefore, although the Google Cloud Messaging (push notification) service requests permission to access data, contacts, location, picture or media files, the Alberta Wildfire app does not access or in any way use, collect or disclose this information.
</p><p>
<b>
Download for:
</b>
<br><a href="https://play.google.com/store/apps/details?id=ca.ab.gov.ABWildfire&amp;hl=en" target="_blank">Android</a>
<br><a href="https://itunes.apple.com/ca/app/alberta-wildfire/id626977403?mt=8" target="_blank">iPhone or iPad</a>
</p></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
