{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Alberta Rivers: Data and Advisories</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Obtain the latest information about Alberta's rivers, including flood 

advisories and comments issued by Alberta's River Forecast Centre. 

View all current surface water data for Alberta.
</p>

<p>
Features:
</p><ul><li>
View all monitoring stations on a map.
</li>
<li>
Tap stations to view current data and whether flows are normal.
</li>
<li>
Receive notifications when new advisories and comments are issued.
</li>
<li>
Save your own list of important stations for quick reference.
</li>
</ul><p>

</p><p>
<b>
Download for:
</b>
<br><a href="https://play.google.com/store/apps/details?&#10;&#10;id=ca.ab.gov.abrivers" target="_blank">Android</a>
<br><a href="https://itunes.apple.com/ca/app/alberta-rivers-data-&#10;&#10;advisories/id888325071?mt=8" target="_blank">iPhone</a>
</p></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
