{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Alberta Emergency Alert</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
When disaster strikes, get more information and take appropriate 

action to protect yourself and your family.
</p>

<p>
Disasters can occur anywhere, at any time. Alberta Emergency Alerts 

provide you with critical information about immediate disasters, where 

the disasters are occurring and what action you can take to better 

prepare yourself.
</p>

<p>
Alerts are distributed to the public through various outlets 

including:
</p><ul><li>
Radio and television
</li>
<li>
Internet
</li>
<li>
RSS Feed
</li>
<li>
Social Media (Facebook, Twitter, etc.)
</li>
<li>
Road Signage
</li>
<li>
Alberta Emergency Alert App
</li>
</ul><p>

</p><p>
Public Safety is everyone's responsibility.
</p>

<p>
Stop. Listen. Respond.
</p>

<p>
<b>
Download for:
</b>
<br><a href="https://play.google.com/store/apps/details?id=ca.ab.gov.aea" target="_blank">Android</a>
<br><a href="https://itunes.apple.com/ca/app/alberta-emergency-&#10;&#10;alert/id887604348?mt=8" target="_blank">iPhone</a>
</p></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
