{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Alberta Registry Services</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Need to find an Alberta Registry Agent or need more information about 

registry services in Alberta? With the Registry Services applications 

you can find a Registry Agent using your current location, city or 

postal code.
</p>

<p>
Alberta Registry Agents are a network of community-based services 

centres, offering one-stop shopping for a wide range of registration, 

information and licensing services on behalf of the Government of 

Alberta. Services provided by Registry Agents include motor vehicle 

registrations, driver licensing and testing, personal property (lien) 

searches and registrations, land title searches, corporate registry 

services, and vital statistics certificate requests.
</p>

<p>
<b>
Download for:
</b>
<br><a href="https://play.google.com/store/apps/details?&#10;&#10;id=ca.ab.gov.registry" target="_blank">Android</a>
<br><a href="https://itunes.apple.com/ca/app/alberta-registry-&#10;&#10;services/id599620460?mt=8" target="_blank">iPhone or iPad</a>
</p></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
