{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Alberta Approved Farmers’ Market</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
The Farmers’ Market App guides you to your nearest Alberta approved farmers’ market.
</p>
<p>
<b>
Download for:
</b>
<br><a href="https://play.google.com/store/apps/details?id=ca.ab.gov.agric.prd.fmarket" target="_blank">Android</a>
<br><a href="https://itunes.apple.com/ca/app/alberta-approved-farmers-market/id1091837660" target="_blank">iPhone or iPad</a>
</p></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
