{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Alberta Economic Dashboard</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
The Alberta Economic Dashboard compiles the Alberta economy's most important indicators for businesses in one place. Get a quick snapshot of Alberta's current economic state or explore individual indicators in more detail.
</p>

<p>
Main Page:
</p></div></div></div><p></p>
        <p></p><div class="field field-name-field-visualization-title field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="http://economicdashboard.albertacanada.com" target="_blank">Alberta Economic Dashboard</a></div></div></div><p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
