{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Apps</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div class="view view-apps-for-alberta view-id-apps_for_alberta view-display-id-page view-dom-id-33deae1ac7fb4d3616d0b92ca1330bc0">
        
  
  
      <div class="view-content">
      <div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/511%20v0.01_1.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/511-alberta">511 Alberta</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Know before you go with 511 Alberta.</p></div></div>
  </span></div>  </div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/babynames%20v0.02_0.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/alberta-baby-names-0">Alberta Baby Names</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>A fun and easy to use application that helps you find the perfect baby name.</p></div></div>
  </span></div>  </div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/aqhi%20cdn%20v0.02_0.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/aqhi-canada">AQHI Canada</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Track current outdoor air quality and forecasts for communities across Canada.</p></div></div>
  </span></div>  </div>
</div>
</div><div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/risco%20v0.06_0.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/risco-app-contest-winner">Risco (app contest winner)</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Stay informed, stay alert, and avoid getting hurt in the outdoors.  Winner of People's Choice App.</p></div></div>
  </span></div>  </div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/make%20the%20grade%20v0.01.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/make-the-grade">Make the Grade (app contest winner)</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Explore Alberta high school grades.  Winner of Best Overall App and Best Made in Alberta App.</p></div></div>
  </span></div>  </div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/live%20ab%20v0.03.png" width="248" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/live-alberta">Live Alberta (app contest winner)</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Compare Alberta's cities to find the best one for you.  Winner of Best Student App.</p></div></div>
  </span></div>  </div>
</div>
</div><div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/farmer%20mkt%20v0.02.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/alberta-approved-farmers-market">Alberta Approved Farmers’ Market</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Find your nearest Alberta approved farmers’ market.</p></div></div>
  </span></div>  </div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/bee%20v0.03.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/bee-health">Bee Health</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>A tool for diagnosis and treatment of honey bee diseases and pests.</p></div></div>
  </span></div>  </div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/10%20transfer%20v0.02.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/transfer-alberta">Transfer Alberta</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Lists which courses and programs may transfer between Alberta post-secondary institutions.</p></div></div>
  </span></div>  </div>
</div>
</div><div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/9%20rivers%20v0.02.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/alberta-rivers-data-and-advisories">Alberta Rivers: Data and Advisories</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Monitor flood advisories, and obtain up-to-date station information for Alberta's rivers and lakes.</p></div></div>
  </span></div>  </div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/8%20emerg%20v0.02.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/alberta-emergency-alert">Alberta Emergency Alert</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Issues warnings so you can take action in the event of an emergency or disaster.</p></div></div>
  </span></div>  </div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/7%20call%20of%20the%20land%20v0.02.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/call-land">Call of the Land</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Alberta's premier agricultural news program.</p></div></div>
  </span></div>  </div>
</div>

</div>  

<div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/4%20registry%20v0.02.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/alberta-registry-services">Alberta Registry Services</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>Find registry services information or a local Registry Agent using your current location, city, or postal code.</p></div></div>
  </span></div>  </div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
  <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/2%20wildfire%20v0.02.png" width="250" height="125"></div>
</div>
  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/alberta-wildfire">Alberta Wildfire</a></h2>  </div>  
  <div>        <div class="col-sm-8 col-md-12"><p>See where wildfires are burning, and get updated information on wildfires and conditions across Alberta.</p></div></div>
  </span></div>  </div>
</div>
    </div>


</div>
  
  
</div>    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
