{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>AQHI Canada</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Stay informed on outdoor air quality conditions, plan your outdoor 

activities, and manage exposure to outdoor air pollution. The Air 

Quality Health Index (AQHI) Canada app informs users of the level of 

health risk associated with local outdoor air quality. The app 

provides hourly AQHI readings and daily forecasts for all AQHI 

communities across Canada.
</p>

<p>
The app includes the following features:
</p>

<p>
</p><ul><li>
User defined push notifications based on the AQHI level and stations 

you choose.
</li>

<li>
Map screen to view spatial distribution of AQHI over a region or the 

entire country.
</li>

<li>
GPS capability to bring you to your nearest station from the map 

screen.
</li>

<li>
Profile view for setting favourite communities.
</li>

<li>
Tips for taking personal action to improve air quality.
</li>
</ul><p>
The AQHI is reported as a number from 1 to 10. The higher the AQHI 

number, the greater the health risk and need to take precautions. 

Health messaging provides advice for limiting exposure to air 

pollution and adjusting outdoor activity levels when air quality is 

poor. 
</p>




<p>
Privacy Policy:
</p>

<p>
The AQHI Canada app does not collect, use or disclose any personal 

information. The app provides push notifications by using an anonymous 

device ID. The user is able to opt in or out of push notifications at 

any time. The app uses a device’s Google maps and global positioning 

to provide a map view of local AQHI readings and display the user’s 

nearest AQHI station.
</p>

<p>
The app does not use any personal data, contacts, location, picture or 

media files. However, in order for the Android version of the app to 

have the ability to send push notifications to users, the Google Cloud 

Messaging service requires the user to accept the general “get 

accounts” permission statement. Therefore, although the Google Cloud 

Messaging (push notification) service requests permission to access 

data, contacts, location, picture or media files, the AQHI Canada app 

does not access or in any way use, collect or disclose this 

information.
</p>








<p>
<b>
Download for / Télécharger pour:
</b>
<br><a href="https://play.google.com/store/apps/details?&#10;&#10;id=ca.ab.gov.nationalaqhi" target="_blank">Android</a>
<br><a href="https://itunes.apple.com/ca/app/aqhi-canada/id1020320494" target="_blank">iPhone or iPad</a>
</p>

<br><p>
French Translation / En Français:
</p>


<p>
Soyez informés de la qualité de l’air extérieur, planifiez vos 

activités en plein air et gérez l’exposition à la pollution 

atmosphérique. L’application de la Cote air santé (CAS) Canada informe 

les utilisateurs du niveau de risque pour la santé associé à la 

qualité de l’air extérieur à l’échelle locale. L’application fournit 

la valeur horaire de la CAS et des prévisions quotidiennes pour toutes 

les collectivités où la CAS est mesurée au Canada.
</p>


<p>
Voici les fonctions de l’application:
</p>

<p>
</p><ul><li>
notifications prioritaires définies par l’utilisateur en fonction du 

niveau de la CAS et des stations que vous choisissez;
</li>

<li>
écran de carte pour voir la distribution spatiale de la CAS sur une 

région ou sur l’ensemble du pays;
</li>

<li>
fonction GPS pour vous diriger vers votre station la plus proche à 

partir de l’écran de carte; 
</li>

<li>
profil utilisateur pour la création de collectivités favorites;
</li>

<li>
conseils quant aux mesures personnelles à prendre pour améliorer la 

qualité de l’air.
</li>
</ul><p>
Avec la CAS, le niveau de risque est présenté sous la forme d’un 

chiffre de 1 à 10. Plus le chiffre est élevé, plus le risque présenté 

par la qualité de l’air est grand et plus il faut prendre de 

précautions. Des messages sur la santé offrent des conseils pour 

limiter l’exposition à la pollution atmosphérique et modifier les 

niveaux d’activité à l’extérieur lorsque la qualité de l’air est 

mauvaise. 
</p>

<p>
Politique de Confidentialité:
</p>
<p>
L’application CAS Canada ne recueille pas, n’utilise pas et ne divulgue pas de renseignements personnels. L’application envoie des notifications poussées au moyen d’un identifiant d’appareil anonyme. L’utilisateur peut choisir d’activer ou de désactiver les notifications poussées à tout moment. L’application utilise les données de Google Maps et le système GPS de l’appareil pour fournir une représentation cartographique des valeurs locales de la CAS et présenter à l’utilisateur la station la plus près.
</p>

<p>
L’application n’utilise pas les données personnelles, les contacts, l’emplacement, les photos ou les fichiers multimédias de l’utilisateur. Toutefois, pour que l’application puisse envoyer des notifications poussées à un appareil Android, le service Google Cloud Messaging exige que l’utilisateur accepte la demande de permission générale « get accounts ». Par conséquent, même si le service Google Cloud Messaging (notifications poussées) demande la permission d’accéder aux données, aux contacts, à l’emplacement, aux photos ou aux fichiers multimédias de l’utilisateur, l’application CAS Canada n’accède pas à ces renseignements, et elle ne les recueille pas, ne les utilise pas et ne les divulgue pas de quelque manière que ce soit.
</p></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
