{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Bee Health</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
The Bee Health app is based on current scientific knowledge to address 

honey bee diseases and pests. It is a handy resource to help 

beekeepers and other users to detect, diagnose, manage and treat honey 

bee diseases and pests. It includes pictures and treatment options 

which aid beekeepers in adopting appropriate pest management 

practices. Thus, beekeepers can improve bee health and enhance on-farm 

food safety and biosecurity practices in their operations.
</p>

<p>
Download the free Bee Health app today.
</p>

<p>
<b>
Download for:
</b>
<br><a href="https://play.google.com/store/apps/details?&#10;&#10;id=ca.ab.gov.beehealth" target="_blank">Android</a>
<br><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?&#10;&#10;id=1005231410&amp;mt=8" target="_blank">iPhone</a>
</p></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
