{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Call of the Land</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Call of the Land is Alberta's premier agricultural news program. 

Airing five days-a-week, this nine minute agricultural radio program, 

produced by Alberta Agriculture and Rural Development, is broadcast to 

a daily audience of over 110,000. For over 60 years, stories have kept 

the agricultural community current on the latest agricultural 

technologies, research findings, production methods and marketing 

trends, as well as government programs and policies. The Call of the 

Land Calendar keeps listeners informed about upcoming agricultural 

events.
</p>

<p>
<b>
Download for:
</b>
<br><a href="https://play.google.com/store/apps/details?id=ca.ab.gov.cotl" target="_blank">Android</a>
<br><a href="https://itunes.apple.com/ca/app/call-of-the-&#10;&#10;land/id836065963?mt=8" target="_blank">iPhone</a>
</p></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
