{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Child Intervention Data Tool</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Interactive chart that displays the number of children receiving each 

type of intervention service, by fiscal year.
</p>

<p>
Main Page:
</p></div></div></div><p></p>
        <p></p><div class="field field-name-field-visualization-title field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="http://humanservices.alberta.ca/abuse-bullying/cidata/" target="_blank">Child Intervention Data Tool</a></div></div></div><p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
