{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>For Developers</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div id="node-35" class="node node-static-page clearfix" about="/interact/for-developers" typeof="sioc:Item foaf:Document">
            <span property="dc:title" content="For Developers" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
    
    <div class="content">
        <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>The Government of Alberta is committed to publishing open data to third parties via data feeds through an application programming interface (API). The Government of Alberta encourages developers to deliver and innovate using open data.</p>

<p>The base URL for the API is: <a href="http://open.alberta.ca/api" target="_blank">http://open.alberta.ca/api</a>.</p>

<p>The API is provided by the CKAN software and full instructions are provided here: <a href="http://docs.ckan.org/en/latest/api/index.html" target="_blank">http://docs.ckan.org/en/latest/api/index.html</a>.</p>

<p>Questions about how you can use our information? Learn more in the <a href="/licence">licence</a> section.</p>

<p></p>
<p></p>
<p><b>Source code</b></p>
The source code for the Open Government Portal is available on github <a href="https://github.com/abgov" target="_blank"></a>
</div></div></div>    </div>
        </div>
    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
