{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>GeoDiscover Alberta</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
The GeoDiscover Alberta Program fosters collaboration and innovation 

in information sharing. GeoDiscover Alberta strives to be the main 

access point for easily integrated, authoritative and usable 

geospatial data and services.
</p>
<p>

GeoDiscover Alberta will change the way people interact with the earth 

and each other by creating a trusted, easy-to-use environment for 

geospatial data and information sharing.
</p>

<p>
Featured Link:
<br><font size="2">
<a href="http://geodiscover.alberta.ca/Viewer" target="_blank">Interactive Map Viewer (requires a Silverlight-enabled 

web browser)</a>
</font>
</p>

<p>
Main Page:
</p></div></div></div><p></p>
        <p></p><div class="field field-name-field-visualization-title field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="https://geodiscover.alberta.ca" target="_blank">GeoDiscover Alberta</a></div></div></div><p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
