{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Interact</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div id="node-34" class="node node-static-page clearfix" about="/interact/interact" typeof="sioc:Item foaf:Document">
            <span property="dc:title" content="Interact" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
    
    <div class="content">
        <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Open.alberta.ca encourages citizens to explore and take advantage of the Government of Alberta’s data and publications to research, make evidence-based decisions, build apps, and create visual data.</p>

<p><a href="/interact/apps-for-alberta">Apps</a><br>
    Explore winning user-submitted apps from the Apps for Alberta contest, and other Government of Alberta apps.</p>

<p><a href="/interact/visualization">Visualizations</a><br>
    View Government of Alberta data visualizations such as interactive maps, dynamic charts, and infographics.</p>

<p><a href="/interact/blog">Blog</a><br>
    Open government matters and we want to share our stories about open government. Hear from us and read about insights from the Open Government team at the Government Alberta and learn about upcoming events.</p>

<p><a href="/suggest">Suggest a Resource</a><br>
    Interested in a specific dataset or government publication? Let us know which one.</p>

<p><a href="/contact">Contact Open Government</a><br>
    Make suggestions or report issues with this site, or ask general questions about the Government of Alberta Open Data program.</p>

<p><a href="/interact/for-developers">For Developers</a><br>
    The Government of Alberta is committed to publishing open data to third parties via data feeds through an application programming interface (API). The Government of Alberta encourages developers to deliver and innovate using open data</p>
</div></div></div>    </div>
        </div>
    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>
{% endblock %}
