{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Provincial Electoral Division (PED) Profiles</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Electoral Boundaries are defined by the Alberta Electoral Divisions 

Act. Provincial Electoral Divisions (PEDs) are territorial units 

represented by an elected member to serve in the Legislative Assembly 

of Alberta.
</p>
<p>
These profiles provide detailed demographic and socio-economic 

information for Alberta's Provincial Electoral Divisions, tabulated 

from Censuses of Canada and National Household Surveys.
</p>

<p>
Featured Link:
<br><font size="2">
<a href="http://geodiscover.alberta.ca/Viewer/Viewer.ashx?&#10;&#10;Viewer=GDA&amp;Project=e1f71f56-12f0-4c84-9411-4b78eb87e2d1" target="_blank">PED Interactive Map (requires a Silverlight-enabled 

web browser)</a>
</font>
</p>

<p>
Main Page:
</p></div></div></div><p></p>
        <p></p><div class="field field-name-field-visualization-title field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="http://www.finance.alberta.ca/aboutalberta/ped_profiles/2011-profiles/index.html" target="_blank">Alberta Provincial Electoral Division (PED) Profiles</a></div></div></div><p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
