{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Risco (app contest winner)</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p><a href="https://appsforalberta.devpost.com/" target="_blank">2015 Apps for Alberta</a> contest winner - People’s Choice Award (voted by the public): "Risco,” designed by Team R-Squared (University of Calgary students Gabriela Jurca, Megha Chopra, Govind Parmar, and Omar Addam).</p>

<p>This mobile app helps outdoor enthusiasts access maps information on outdoor hazards such as known grizzly bear zones, snake zones, and active wildfires. The app integrates government data and user-submitted information.</p>

<p>This app was created by a private citizen or organization. The Government of Alberta does not endorse, guarantee, or provide support for this app. The app's copyright and any end-user licence agreement or terms of use are within the purview of the app creator. Certain rights are granted to the Government of Alberta per the <a href="http://appsforalberta.devpost.com/rules" target="_blank">app contest rules</a>. Any Alberta open data used for the app is subject to the <a href="http://open.alberta.ca/licence" target="_blank">Open Government Licence - Alberta</a> .</p>

<p><strong>View more information</strong> (including video and screenshots):<br><a href="http://appsforalberta.devpost.com/submissions/38278-risco" target="_blank">Apps for Alberta submission</a></p>

<p><strong>Try the app </strong> (for Windows devices currently):<br><a href="https://www.microsoft.com/en-CA/store/apps/Risco/9NBLGGH2JXZP" target="_blank">Risco</a></p>
<!--FYI Url and Link text (title) will display as entered in the tile 

add/edit screen.  Hardcoded link will appear as smaller font.  

Hardcoded link is not mandatory.  If wish to make your own links only, 

leave Title and URL fields blank.--></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
