{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Ropin' the Web</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Ropin' the Web (the main part of Alberta Agriculture and Forestry's website) delivers 

current department information and services electronically to connect 

citizens with government directly and cost-effectively. The site 

provides extensive high-quality agricultural information and and news 

about the industry from department specialists. The site includes a 

wide variety of tools and resources for helping Alberta farmers make 

better decisions. They include interactive mapping tools which combine 

aerial photos and soil information, selectors for choosing herbicide 

solutions for weed problems as well as a wide variety of directories 

for finding the services needed by agriculture producers and food 

processors.
</p>

<p>
To fully explore the breadth and depth of Ropin' the Web's resources, 

click on the main page link and then on the next page, click on the 

tabs on along the top, as well as the left side navigation links.
</p>

<p>
Featured Links:
<br><font size="2">
<a href="http://www.agric.gov.ab.ca/app21/farminputprices" target="_blank">Alberta Farm Input Prices</a>
<br><a href="http://www.agric.gov.ab.ca/app21/loadmedia" target="_blank">Maps and Multimedia</a>
</font>
</p>

<p>
Main Page:
</p></div></div></div><p></p>
        <p></p><div class="field field-name-field-visualization-title field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="http://www.agric.gov.ab.ca/app21/ldcalc" target="_blank">Ropin' the Web</a></div></div></div><p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
