{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Select Alberta Open Data</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Interactive charts and graphs of various open data available on this 

Alberta Open Government Portal.  The visualizations facilitate further 

exploration and understanding of the data.  The featured datasets are 

just a sample of the hundreds of datasets available on this portal.
</p>

<p>
Main Page (external website):
</p></div></div></div><p></p>
        <p></p><div class="field field-name-field-visualization-title field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="https://public.tableau.com/views/OpenDataVisualizations-NavigationPane/OpenData-NavigationPane?%3Aembed=y&amp;%3AshowTabs=y&amp;%3Adisplay_count=yes" target="_blank">Select Alberta Open Data</a></div></div></div><p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
