{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Social Limitations for Women and Girls</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
A focus on social limitations for women and girls. Despite progress, 

women and girls in Canada still face pressures that
limit their potential. Challenges exist, particularly for girls
who are marginalized. Combined with higher risks for
victimization, girls may emerge from adolescence
with a diminished sense of worth.</p>

<p>
Featured Link:
<br><font size="2">
<a href="http://www.humanservices.alberta.ca/documents/infographic-&#10;&#10;focus-on-social-limitations.pdf" target="_blank">Social Limitations 

for Women and Girls (infographic)</a>
</font>
</p>

<p>
Main Page:
</p></div></div></div><p></p>
        <p></p><div class="field field-name-field-visualization-title field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="http://www.humanservices.alberta.ca/family-community/14870.html" target="_blank">Women’s Equality and Advancement</a></div></div></div><p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
