{% extends "page.html" %}

{% block primary_content %}
<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Transfer Alberta</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div>
  <div class="row">
        <p></p><div class="field field-name-field-apps-full-description field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><p>
Knowing ahead of time what courses and programs transfer between 

colleges and universities can help you better plan your future, save 

your time and money. The Transfer Alberta App provides students and 

secondary/post-secondary professionals with an informative and easy to 

use search tool to support post-secondary planning, admissions, and 

transfers. This tool provides access to Alberta post-secondary 

transfer agreements, as well as high school upgrading and provincial 

course equivalency information.
</p>

<p>
The Transfer Alberta App provides:

</p><ul><li>
Course/program list searches for high school upgrading or post-

secondary transfer, by school and year
</li>
<li>
Comparison of course/program transfer agreements for multiple 

institutions
</li>
<li>
The ability to save your search results and /or share your results via 

email
</li>
<li>
Who to call for admissions help at each post-secondary institution.
</li>
</ul><p>

</p><p>
Provided through the leadership of the Alberta Council on Admission 

and Transfer (ACAT) and sponsored by Innovation and Advanced 

Education, this free Transfer Alberta App is here to support your 

post-secondary pathway(s).
</p>

<p>
For more information about the App,  please visit 
<a href="TransferAlberta.ca" target="_blank">TransferAlberta.ca</a> 
or contact 
<a href="ACAT@gov.ab.ca?Subject=Transfer%20Alberta%20Mobile%20App" target="_top">ACAT@gov.ab.ca</a>
</p>

<p>
<b>
Download for:
</b>
<br><a href="https://play.google.com/store/apps/details?&#10;&#10;id=ca.ab.gov.transferab&amp;hl=en" target="_blank">Android</a>
<br><a href="https://itunes.apple.com/ca/app/transfer-&#10;&#10;alberta/id923018755?mt=8" target="_blank">iPhone</a>
</p></div></div></div><p></p>
        <p></p>
  </div>
</div>




    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
