{% extends "page.html" %}

{% block primary_content %}

<main class="link-icons">
                   <div class="container">
               <div class="row">
                   <div class="col-xs-12 page-title-box">
                       <h1>Visualizations</h1>
                                                                         <div class="tabs">
                                                          </div>
                                           </div>
                </div>
            </div>
                        
        <div class="container block">
            <section id="content" role="document">
               <div class="row">
                                                           <div class="col-md-12">
                         <div class="region region-content">
    <div id="block-system-main" class="block block-system">

            
    <div class="content">
        <div class="view view-visualisation view-id-visualisation view-display-id-page view-dom-id-5422f8c70cdf455c9d109c431935bf62">
        
  
  
      <div class="view-content">
      <div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/major-proj-tile-img-v0.01_2.png" width="250" height="125"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/alberta-major-projects">Alberta Major Projects</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>An inventory of private and public sector projects in Alberta valued at $5M or more.</p></div></div>
  </div>  </span></span></div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/vital%20stats%20opt3%20v0.01.png" width="250" height="125"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/vital-statistics">Vital Statistics</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Interactive charts and graphs of birth, death, and marriage event statistics.</p></div></div>
  </div>  </span></span></div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/econ-dash-tile-img2-v0.05.png" width="250" height="125"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/alberta-economic-dashboard">Alberta Economic Dashboard</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>The Alberta economy's most important business indicators in one place.</p></div></div>
  </div>  </span></span></div>
</div>
</div><div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/select-dash-tile-img-v0.01.png" width="250" height="125"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/select-alberta-open-data">Select Alberta Open Data</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Visualizations of various open data available on this Open Government Portal.</p></div></div>
  </div>  </span></span></div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/health-tile-img-v0.04.png" width="250" height="125"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/interactive-health-data-and-dashboards">Interactive Health Data and Dashboards</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Information on health status, determinants of health, and health economics.</p></div></div>
  </div>  </span></span></div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/ropin-tile-img-v0.03.png" width="250" height="125"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/ropin-the-web">Ropin' the Web</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Resources to help Alberta farmers make better decisions.</p></div></div>
  </div>  </span></span></div>
</div>
</div><div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/aqhi-tile-img-v0.02.png" width="250" height="125" title="Air Quality Health Index (AQHI)"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/aqhi">Air Quality Health Index (AQHI) Data</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Tools that relate the air quality outside to your health.</p></div></div>
  </div>  </span></span></div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/acis-tile-img-v0.04_0.png" width="250" height="125"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/agroclimatic-information-service-acis">AgroClimatic Information Service (ACIS)</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Alberta weather, climate, and related agriculture data.</p></div></div>
  </div>  </span></span></div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/women-tile-img-v0.04.png" width="250" height="125" title="Social Limitations for Women and Girls"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/social-limitations-for-women-and-girls">Social Limitations for Women and Girls</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>A focus on the pressures that limit the potential of women and girls.</p></div></div>
  </div>  </span></span></div>
</div>
</div><div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/child-tile-img-v0.04.png" width="250" height="125" title="Child Intervention Data Tool"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/child-Intervention-data-tool">Child Intervention Data Tool</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Information on the number of children receiving intervention services.</p></div></div>
  </div>  </span></span></div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/aborig-tile-img-v0.05.png" width="250" height="125" title="Aboriginal Community Profiles"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/Aboriginal-community-profiles">Aboriginal Community Profiles</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Basic information on all Metis Settlements and First Nations in Alberta.</p></div></div>
  </div>  </span></span></div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/ogp-tile-img-v0.04.png" width="250" height="125" title="Alberta Open Government Portal Dataset Statistics"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/web-usage-metrics">Web Usage Metrics</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Statistical information about the usage of the Alberta Open Government Portal.</p></div></div>
  </div>  </span></span></div>
</div>
</div>



<div class="row midrow"><div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/ped-tile-img-v0.03.png" width="250" height="125" title="Alberta Provincial Electoral Division (PED) Profiles"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/ped">Provincial Electoral Division (PED) Profiles</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Detailed demographic and socio-economic information for Alberta's PEDs.</p></div></div>
  </div>  </span></span></div>
</div>
<div class="col-md-4">
    <div class="row midcard">
      
  <div>        <div class="col-sm-4 col-md-12 nopadding">
    <div class="field-content"><img typeof="foaf:Image" src="https://open.alberta.ca/interact/sites/default/files/geod-tile-img-v0.04.png" width="250" height="125" title="GeoDiscover Alberta"></div>
</div>

  </div>  
  <span class="views-field views-field-title">        <span class="field-content"><div class="col-sm-8 col-md-12">
<h2 class="field-content"><a href="/interact/geodiscover-alberta">GeoDiscover Alberta</a></h2>    
  <div>        <div class="col-sm-8 col-md-12"><p>Geospatial data, services, and information sharing.</p></div></div>
  </div>  </span></span></div>
</div>
    </div>



</div>

</div>    </div>
</div>  </div>
                    </div>
                                    </div>
            </section>
        </div>

                    </main>

{% endblock %}
