{% import 'macros/form.html' as form %}

<form class="dataset-form form-horizontal" method="post">
  {{ form.errors(error_summary) }}
<h1 class="page-heading">Suggest a Resource</h1>

  <fieldset>
<p>Interested in a specific dataset or government publication? Let us know which one. We will look into your request and determine if the resource is available, as well as how long it will take to compile and post to the portal.</p>
<p>In suggesting a dataset please keep in mind that although data may be collected by the Government of Alberta, it may contain private or commercially protected information or may not be in a user friendly format. In these cases, if it is possible to share parts of the data, it may take time to prepare the data for the site.</p>
<p>If requesting a publication please keep in mind that it may not yet be digitized and it may take time to prepare the publication for the site.</p>
    {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, classes=['control-medium'], is_required=true) }}
<p>Please provide us with your email address so we can share our response with you.</p>
    {{ form.input('name', label=_('Contact Name'), id='field-name', value=data.name, error=errors.name, classes=['control-medium'], is_required=true) }}
    {{ form.input('summary', label=_('Subject'), id='field-summary', value=data.summary, error=errors.summary, classes=['control-medium'], is_required=true) }}
    {{ form.markdown('description', label=_('Description'), id='field-description', value=data.description, error=errors.description, placeholder=_('What data are you looking for and why?'), is_required=true) }}
<br>
<p>Please describe and provide any additional details or considerations around the information resource you're looking for. Please do not include any personal information. Personal information you submit by e-mail is not secure and may be observed by a third party while in transit. Any personal information received may also be forwarded to an area of government better able to respond to your message unless you clearly indicate that you do not want your information shared.</p>
  {% if g.recaptcha_publickey %}
    {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
  {% endif %}
  </fieldset>
  <div class="form-actions">
    {{ form.required_message() }}
    <button class="btn btn-primary" type="submit" name="save">{{ _('Submit') }}</button>
  </div>
</form>
