{# {% ckan_extends %} #}

<main>
    <div class="container block">
        <section id="content" role="document">

            <div class="row bg-section">
                <div class="col-xs-12">
                    <header><h1>Getting Started</h1></header>
                    <h4>Search over 200,000 Publications, Datasets and Other Information Resources</h4>
                    <p>Here you can explore how the Government of Alberta is working with the national and international open government community to create greater transparency and accountability, increase citizen engagement, and drive innovation and economic opportunities through 
                        Open Data, Open Information and Open Dialogue.</p>
                    <div class="input-group">
                        {% block search %}{% endblock %}
                    </div>
                    <p><a href="/dataset">BROWSE ALL RESOURCES</a> >></p>
                </div>
            </div>
            <div class="row featured-pages">			
                <div class="col-md-4 feature bg-section">
                    <article>
                        <div class="container-fluid">
                            <div class="row">
                                <header>
                                    <div class="col-xs-12 col-sm-8 col-md-12 nopadding-md-up">
                                        <h2><a href="/dataset">Walkonomics</a></h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-12 nopadding">
                                        <img src="http://lorempixel.com/640/426/nature/" class="img-responsive" alt="Nature image context in here">
                                    </div>
                                </header>
                                <div class="col-xs-12 col-sm-8 col-md-12 nopadding-md-up">
                                    <p><b>How Walkable is your Neighbourhood ?</b></p>
                                    <p><a class="feature-link" href="/dataset">Walkonomics </a> &gt;&gt; <p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 feature bg-section">
                    <article>
                        <div class="container-fluid">
                            <div class="row">
                                <header>
                                    <div class="col-xs-12 col-sm-8 col-md-12 nopadding-md-up">
                                        <h2><a href="/blog">From the Blog: Managing Digital Publications in Alberta</a></h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-12 nopadding">
                                        <img src="http://lorempixel.com/640/426/transport/" class="img-responsive" alt="Transport image context in here">
                                    </div>
                                </header>
                                <div class="col-xs-12 col-sm-8 col-md-12 nopadding-md-up">
                                    <p>200,000 publications, datasets and other information resources spanning 100 years.</p>
                                    <p><a class="feature-link"href="/blog">Read the blog</a> &gt;&gt; </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 feature bg-section">
                    <article>
                        <div class="container-fluid">
                            <div class="row">
                                <header>
                                    <div class="col-xs-12 col-sm-8 col-md-12 nopadding-md-up">
                                        <h2><a href="/dataset">Freedom of Information:</a></h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-12 nopadding">
                                        <img src="http://lorempixel.com/640/426/people/" class="img-responsive" alt="People image context in here">
                                    </div>
                                </header>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h2>Latest Publications</h2>
                    <div class="row">
                        <div class="col-xs-12 item">
                            <a href="/dataset/84ed935f-0581-45af-8a57-4d66a92274cd/resource/93c11cf5-fec1-4bd4-b76c-375f861779d2/download/54524802011StatusPygmyWhitefishAlbertaUpdate2011.pdf"><span class="tag">PDF</span></a><span class="tag">XML</span><span class="tag">XLS</span><span class="tag">json</span>
                            <a class="feature-link" href="/dataset/status-of-pygmy-whitefish-2011"><h5>Status of Pygmy Whitefish 2011</h5></a>

                            <p><span>Skakddfgs:</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam molestie lobortis fermentum. Sfj lpdma aveatdn dor lambogj inih...</p>

                            <div class="seperator"></div>
                        </div>
                        <div class="col-xs-12 item">
                            <span class="tag">Lorem</span><span class="tag">Lobortis</span><span class="tag">Adventador</span><span class="tag">Etiam</span>
                            <h5>Lpren Ipsum titla addle ad</h5>
                            <p><span>Skakddfgs:</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam molestie lobortis fermentum. Sfj lpdma aveatdn dor lambogj inih...</p>
                            <div class="seperator"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <h2>Latest Open Datasets</h2>
                    <div class="row">
                        <div class="col-xs-12 item">
                            <a href="/dataset?tags=development"><span class="tag">development</span></a><span class="tag">exploration</span><a href="/dataset?tags=gas"><span class="tag">gas</span></a><a href="/dataset?tags=land"><span class="tag">land</span></a>
                            <a class="feature-link" href="/dataset/oil-sands-public-offerings-and-results"><h5>Oil Sands Public Offerings and Results</h5></a>
                            <p>Alberta leases Oil Sands mineral rights to companies for exploration and development of resources. This is a schedule of sales offerings and results.</p>
                            <div class="seperator"></div>
                        </div>
                        <div class="col-xs-12 item">
                            <a href="/dataset?tags=development"><span class="tag">development</span></a>
                            <a href="/dataset?tags=energy"><span class="tag">energy</span></a>
                            <a href="/dataset?tags=exploration"><span class="tag">exploration</span></a>
                            <a href="/dataset?tags=gas"><span class="tag">gas</span></a>

                            <a href="/dataset/petroleum-and-natural-gas-public-offerings-and-sales-results"><h5>Petroleum and Natural Gas Public Offerings and sales results</h5></a>
                            <p>Alberta leases petroleum and natural gas (P&amp;NG) mineral rights to companies for exploration and development of resources. This is a schedule of the offerings (sales) and results following each sale. land, mineral rights, pertoleum, natural gas, natural, gas, exploration, development, resources, public, offerings, sales, public offerings, energy</p>
                            <div class="seperator"></div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </div>
</main>
