<div class="page-top-bg">
  <div class="container-fluid">
      <h2>{{ g.site_title}}</h2>
      <p>Search {{ h.total_package_count() }} Alberta Government resources</p>
      <form method="get" action="/dataset" _lpchecked="1">
        <div class="input-group input-group-lg search">
          <input type="search" class="form-control" name="q" value="" autocomplete="on"
                 placeholder="{{ _('Search government information for...')}}">
          <span class="input-group-btn">
            <button class="btn btn-default">
              <span class="fa fa-search"></span>
              <span class="sr-only">Search</span>
            </button>
          </span>
        </div>
      </form>
    </div>
</div>
<div class="page-main-bg">
    <div id="content" class="container-fluid">
        <div class="row topics">
            <h2>Browse Resources by Topic</h2>
        {% for grp in h.topics(12) %}
        <div class="topic">
                <h3><a href="/topics/{{ grp.name }}">{{ grp.title }}</a></h3>
                <p> {{ grp.description }}</p>
            </div>
        {% endfor %}
            <div class="see-all">
                <a class="btn btn-default" href="/topics">View all topics</a>
            </div>
        </div>
    </div>
</div>
