{# {% ckan_extends %} #}
{% block footer_links %}
{% endblock %}
{% block footer_links_ckan %}
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3 id="title-quick-links">Quick links</h3>
        <ul class="list-group" aria-labelledby="title-quick-links">
          <li><a href="http://www.alberta.ca/index.aspx">Government of Alberta - Home</a></li>
          <li><a href="http://www.alberta.ca/jobs-alberta.aspx">Find a job in Alberta</a></li>
          <li><a href="http://www.alberta.ca/ministries.aspx">Ministries</a></li>
          <li><a href="http://www.alberta.ca/news.aspx">Alberta government news</a></li>
          <li><a href="http://www.alberta.ca/staff-directory.cfm">Government staff directory</a></li>
          <li><a href="http://www.alberta.ca/contact.cfm">Contact government</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3 id="title-follow">Follow the Alberta Government</h3>
        <ul class="list-group" aria-labelledby="title-follow">
          <li><a href="https://www.facebook.com/youralberta.ca" target="_blank"><span class="fa fa-facebook"></span>Facebook</a></li>
          <li><a href="https://twitter.com/youralberta" target="_blank"><span class="fa fa-twitter"></span>Twitter</a></li>
          <li><a href="https://www.youtube.com/user/youralberta" target="_blank"><span class="fa fa-youtube"></span>YouTube</a></li>
          <li><a href="https://www.linkedin.com/company/government-of-alberta" target="_blank"><span class="fa fa-linkedin-square"></span>LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3 id="title-about-site">About this site</h3>
          <ul class="list-group" aria-labelledby="title-about-site">
            <li><a href="http://www.alberta.ca/usingthissite.aspx">Using Alberta.ca</a></li>
            <li><a href="http://www.alberta.ca/disclaimer.aspx">Disclaimer</a></li>
            <li><a href="http://www.alberta.ca/privacystatement.aspx">Privacy</a></li>
          </ul>
      </div>
    </div>
  </div>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
{% endblock %}
<a id="back-to-toc" href="#" title="Back to top">Back to top</a>
