{# {% ckan_extends %} #}
{% block footer_links %}
{% endblock %}
{% block footer_links_ckan %}
{#<div class="footer-bg row">
    <div class="col-xs-12">
        <div class="container">
            <div class="col-xs-12 nopadding link-icons">
                <a class="btn btn-lg btn-primary margin-md-right" href="http://alberta.ca/contact.cfm">Contact Us <i class="fa fa-angle-right"></i></a>
                <div class="contact-phone"><p>Click “Contact Us” for options, or call us at:<br><a href="tel:310-0000">310-0000</a> (land line)<br><a href="tel:1-800-232-7215">1-800-232-7215</a> TDD/TTY</p></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-social">
    <div class="col-xs-12">
        <div class="container margin-md-bottom">
            <div class="col-xs-12 nopadding">
                <span class="footer-text">Follow the Government of Alberta on:</span>
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/youralberta.ca" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/YourAlberta" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.flickr.com/photos/29607224@N08" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                    <li><a href="https://www.youtube.com/user/YourAlberta" title="YouTube"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div> #}
<footer class="footer-bg footer" role="contentinfo">
    <h2 class="sr-only">Footer</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4 footer-quick-links">
            <h3 id="title-quick-links">Quick links</h3>
            <ul class="list-group" aria-labelledby="title-quick-links">
                <li><a class="list-group-item" href="http://www.alberta.ca/index.aspx">Government of Alberta - Home</a></li>
                <li><a class="list-group-item" href="http://www.alberta.ca/jobs-alberta.aspx">Find a job in Alberta</a></li>
                <li><a class="list-group-item" href="http://www.alberta.ca/ministries.aspx">Ministries</a></li>
                <li><a class="list-group-item" href="http://www.alberta.ca/news.aspx">Alberta government news</a></li>
                <li><a class="list-group-item" href="http://www.alberta.ca/staff-directory.cfm">Government staff directory</a></li>
                <li><a class="list-group-item" href="http://www.alberta.ca/contact.cfm">Contact government</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 footer-social">
            <h3 id="title-follow">Follow the Alberta Government</h3>
            <ul class="list-group" aria-labelledby="title-follow">
                <li><a class="list-group-item" href="https://www.facebook.com/youralberta.ca" target="_blank"><span class="fa fa-facebook"></span>Facebook</a></li>
                <li><a class="list-group-item" href="https://twitter.com/youralberta" target="_blank"><span class="fa fa-twitter"></span>Twitter</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 footer-disclaimer">
            <h3 id="title-about-site">About this site</h3>
            <ul class="list-group" aria-labelledby="title-about-site">
                <li><a class="list-group-item" href="http://www.alberta.ca/usingthissite.aspx">Using Alberta.ca</a></li>
                <li><a class="list-group-item" href="http://www.alberta.ca/disclaimer.aspx">Disclaimer</a></li>
                <li><a class="list-group-item" href="http://www.alberta.ca/privacystatement.aspx">Privacy</a></li>
            </ul>
        </div>						
    </div>
{% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
{% endblock %}
