{# {% ckan_extends %} #}

{% block header_wrapper %}
{% block header_account %}
<header class="account-masthead">
    {% block header_account_container_content %}
        {% if c.userobj %}
        <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="unstyled">
            {% block header_account_logged %}
                {% if c.userobj.sysadmin %}
                <li>
                    <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                        <i class="icon-legal"></i>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                        {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                        <span class="username">{{ c.userobj.display_name }}</span>
                    </a>
                </li>
                {% set new_activities = h.new_activities() %}
                <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                    <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                        <i class="icon-dashboard"></i>
                        <span>{{ new_activities }}</span>
                    </a>
                </li>
                {% block header_account_settings_link %}
                <li>
                    <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                        <i class="icon-cog"></i>
                    </a>
                </li>
                {% endblock %}
                {% block header_account_log_out_link %}
                <li>
                    <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                        <i class="icon-signout"></i>
                    </a>
                </li>
                {% endblock %}
            {% endblock %}
            </ul>
            {# </div> #}
        {% endif %} 
        </div>
    {% endblock %}
</header>
<div class="header-bg">
    <div class="container-fluid header">
        <div class="row logo-search-menu-topics">
            <header role="banner">
                <div class="skip-links">
                    <a href="#content">Skip to content</a>
                </div>
                {% block header_logo %}
                <div class="col-xs-6 col-sm-7 logo">
                    <a href="{{ h.url('home') }}"><img class="img-responsive" src="{{ g.site_logo or '/img/AlbertaLogo.svg' }}" alt="Alberta Government Logo" /></a>
                    {% if g.site_description %}<span class="mini">{{ g.site_description }}</span>{% endif %}
                </div>
                {% endblock %}
                <!-- Responsive buttons -->
                <div class="col-xs-6 visible-xs text-right">
                    <div class="responsive-buttons " style="">
                        <div class="vertical-align-wrapper">
                            <button class="btn btn-default"><span class="fa fa-bars"></span><span class="sr-only">Menu</span></button>
                        </div>
                    </div>
                </div>
                <!-- End Responsive buttons -->
                <!-- Search bar -->
                <div class="col-xs-12 col-sm-5 text-right">
                    <div class="search">
                        <form action="/dataset" role="search">
                            <div class="input-group input-group-lg">
                                <input class="form-control" type="search"  name="q" value="" autocomplete="on" placeholder="{{ _('Search Open Government')}}" />
                                <span class="input-group-btn"><button class="btn btn-default"><span class="fa fa-search"></span><span class="sr-only">Search</span></button></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Search bar -->
            </header>
        </div>
    </div>
</div>
<nav class="navbar navbar-default row hidden-xs">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav">
            {% macro menu_item(href, text) -%}
                <li><a href="{{ href }}" {% if c.environ.PATH_INFO == href %}class="active"{% endif %}>{{ text|safe }}</a></li>
            {%- endmacro %}
                {{ menu_item('/', '<i class="fa fa-home"></i>') }}
            {% for mi in h.menu_items() %}
                {{ menu_item(mi.url, mi.title) }}
            {% endfor %}
            {% if not (c.controller == 'user' and c.action == 'login' or c.userobj) %} 
                <li class="pull-right"><a href="{{ h.url_for(controller='user', action='login') }}"><i class="fa fa-lock"></i></a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% endblock %}
{% endblock %}
