{% ckan_extends %}

{% set pkg = c.pkg_dict %}
{% set notes = h.markdown_extract(pkg.notes,extract_length=5000) %}
{% set notes_short = h.markdown_extract(pkg.notes,extract_length=300) %}

{% if pkg.archive_date|length > 0 %}
    {% set archive_date = pkg.archive_date %}
{% elif  pkg.archivedate|length > 0 %}
    {% set archive_date = pkg.archivedate %}
{% else %}
    {% set archive_date = "" %}
{% endif %}

{% block wrapper_class %}-package-read{% endblock %}

{% block breadcrumb_content %}
    <li><a href="/dataset">Resources</a></li>
{% endblock %}

{% block content_primary_nav %}{% endblock %}

{% block primary_content_inner %}
    <h1>{{ pkg.title }}</h1>
  {% if notes_short|length < notes|length %}
    <div class="short">
        {{ notes_short }}
        <p><a class="read-more" href="#read-more">Read more</a></p>
    </div>
  {% endif %}
    <div style="display:none;">{{ notes }}</div>
    {% resource 'open_alberta/js/read-more.js' %}
    <hr>
    <h2>Publishing Info</h2>
    <table class="publishig-info">
        <tr> <td>Publisher:</td><td>{{ pkg.organization.title }}</td> </tr>
        <tr> <td>Date published:</td><td>{{ pkg.published_date }}</td> </tr>
        <tr> <td>Record modified:</td><td>{{ pkg.metadata_modified }}</td> </tr>
    </table>
    <hr>
    <h2>Licence & Usage</h2>
    <p class="licence">{{ pkg.license_title }}</p>
    <p class="licence-notes">...</p>
    <hr>
    <h2>Resources</h2>
  {% for r in pkg.resources %}
  {% endfor %}
    <hr>
    <h2>Tags</h2>
  {% if pkg.tags|length %}
    <ul class="tags unstyled">
    {% for tag in pkg.tags %}
        <li>{{ tag.display_name }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No tags</p>
  {% endif %}
    <hr>
    <h2>Dates</h2>
    <table>
        <tr><td>Date created:</td><td>{{ pkg.metadata_created }}</td></tr>
        <tr><td>Date published:</td><td>{{ pkg.published_date }}</td></tr>
        <tr><td>Record modified:</td><td>{{ pkg.metadata_modified }}</td></tr>
        <tr><td>Start date:</td><td>{{ pkg.time_coverage_from }}</td></tr>
        <tr><td>End date:</td><td>{{ pkg.time_coverage_from }}</td></tr>
    </table>
    <hr>
    <h2>Additional Metadata</h2>
    <table>
        <tr>Topic(s):<td></td><td></td></tr>
        <tr>Alternative title:<td></td><td>{{ pkg.alternatetitle }}</td></tr>
        <tr>Update frequency:<td></td><td>{{ pkg.updatefrequency }}</td></tr>
        <tr>Creator:<td></td><td>{{ pkg.cfreator }}</td></tr>
        <tr>Publisher:<td></td><td></td></tr>
        <tr>Spatial coverage:<td></td><td></td></tr>
    </table>
    <div>
        <a href="#back" onclick="history.go(-1); return false;">&lt; Back to Results</a>
        <button class="btn btn-default">Download Metadata</button>
    </div>
{% endblock %}
