{% ckan_extends %}

{% set pkg = c.pkg_dict %}
{% set notes = h.markdown_extract(pkg.notes,extract_length=5000) %}
{% set notes_short = h.markdown_extract(pkg.notes,extract_length=300) %}

{% if pkg.archive_date|length > 0 %}
    {% set archive_date = pkg.archive_date %}
{% elif  pkg.archivedate|length > 0 %}
    {% set archive_date = pkg.archivedate %}
{% else %}
    {% set archive_date = "" %}
{% endif %}

{% block wrapper_class %}-package-read{% endblock %}

{% block breadcrumb_content %}
    <li><a href="/dataset">Resources</a></li>
{% endblock %}

{% block content_primary_nav %}{% endblock %}

{% block primary_content_inner %}
    <h1>{{ pkg.title }}</h1>
  {% if notes_short|length < notes|length %}
    <div class="short">
        {{ notes_short }}
        <p><a class="read-more" href="#read-more">Read more</a></p>
    </div>
    <div style="display:none;">{{ notes }}</div>
  {% else %}
    <div>{{ notes }}</div>
  {% endif %}
    {% resource 'open_alberta/js/read-more.js' %}
    <hr>
    <h2>Publishing Info</h2>
    <table class="publishig-info">
        <tr> <td>Publisher:</td><td>{{ pkg.organization.title }}</td> </tr>
        <tr> <td>Date published:</td><td>{{ pkg.published_date }}</td> </tr>
        <tr> <td>Record modified:</td><td>{{ h.render_datetime(pkg.metadata_modified, '%Y-%m-%d') }}</td> </tr>
    </table>
    <hr>
    <h2>Licence & Usage</h2>
    <p class="licence"><a href="{{ pkg.license_url }}">{{ pkg.license_title }}</a></p>
    <p class="licence-notes">
    Acknowledgement of the {{ pkg.organization.title }} for the Province of Alberta as the originator/source of this information is required as described in the {{ pkg.license_title }} at <a href="{{ pkg.license_url }}">{{ pkg.license_url }}</a>.
    </p>
    <hr>
    <h2>Resources</h2>
    <div class="resource-items">
  {% for res in pkg.resources %}
    {% snippet "package/snippets/resource_item.html", pkg=pkg, res=res %}
  {% endfor %}
    </div>
    <hr>
    <h2>Tags</h2>
  {% if pkg.tags|length %}
      {% snippet "snippets/tag_list.html", tags=pkg.tags %}
  {% else %}
    <p>No tags</p>
  {% endif %}
    <hr>
    <h2>Dates</h2>
    <table>
        <tr><td>Date created:</td><td>{{ h.render_datetime(pkg.metadata_created, '%Y-%m-%d') }}</td></tr>
        <tr><td>Date published:</td><td>{{ pkg.published_date }}</td></tr>
        <tr><td>Record modified:</td><td>{{ h.render_datetime(pkg.metadata_modified, '%Y-%m-%d') }}</td></tr>
        <tr><td>Start date:</td><td>{{ pkg.time_coverage_from }}</td></tr>
        <tr><td>End date:</td><td>{{ pkg.time_coverage_from }}</td></tr>
    </table>
    <hr>
    <h2>Additional Metadata</h2>
    <table>
        <tr><td>Topic(s):</td><td>{% for tp in pkg.groups %}{% if loop.index0 %} , {% endif %}{{ tp.display_name }}{% endfor %}</td></tr>
        <tr><td>Alternative title:</td><td>{{ pkg.alternatetitle }}</td></tr>
        <tr><td>Update frequency:</td><td>{{ pkg.updatefrequency }}</td></tr>
        <tr><td>Creator:</td><td>{% if pkg.creator|length %}{{ pkg.creator|join(' , ') }}{% endif %}</td></tr>
        <tr><td>Publisher:</td><td>{{ pkg.organization.title }}</td></tr>
        <tr><td>Spatial coverage:</td><td>{{ pkg.spatialcoverage1 }}</td></tr>
    </table>
    <div class="page-footer">
        <a href="#back" onclick="history.go(-1); return false;">&lt; Back to Results</a>
        <button class="btn btn-default">Download Metadata</button>
    </div>
{% endblock %}
