{% ckan_extends %}


{% block resource_view_content %}
    <div class="resource-view">
        {% set resource_preview = h.resource_preview(c.resource, c.package) %}
        {% set views_created = res.has_views or resource_preview %}
        {% if not views_created %}
           {{ _("There're no views created for this resource yet.") }}
        {% else %}
           {% if resource_preview and not current_resource_view %}
             {{ h.resource_preview(c.resource, c.package) }}
           {% else %}
             {% for resource_view in resource_views %}
                {% if resource_view == current_resource_view %}
                   {% snippet 'package/snippets/resource_view.html',
                          resource_view=resource_view,
                          resource=c.resource,
                          package=c.package
                    %}
                {% endif %}
             {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}


{% block primary_content %}
  {% block resource_additional_information %}
    {{ super() }}
  {% endblock %}
{% endblock %}
