{% ckan_extends %}

{% set visible_facets = {
        "all": ["dataset_type", "groups", "topic", "organization", "res_format"],
        "dataset": ["dataset_type", "groups", "organization", "res_format"],
        "publications": ["topic", "organization", "audience", "pubtype"],
        "opendata": ["topic", "organization", "res_format"],
        "documentation": []
   }
%}

{% set facets_hide = {
        "documentation":"documentation",
    }
%}

{% set pubdate_facets = { 
        "dataset":"dataset",
        "inventory":"inventory",
        "opendata":"opendata",
        "publications":"publications"
    }
%}

{# Seems to be unused...
{% set daterange_facets = {} %}
#}

{% block subtitle %}{% endblock %}

{% block page_preprimary %}
    <h1>Catalogue</h1>
    <p>Find information in Alberta Government datasets and publications.</p>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('package_create') %}
    <div class="page_primary_action">
        <a class="btn btn-primary" href="/inventory/new"><i class="icon-plus-sign-alt"></i> Add Inventory</a>
        <a class="btn btn-primary" href="/dataset/new"><i class="icon-plus-sign-alt"></i> Add Dataset</a>
        <a class="btn btn-primary" href="/opendata/new"><i class="icon-plus-sign-alt"></i> Add OpenData</a>
        <a class="btn btn-primary" href="/publications/new"><i class="icon-plus-sign-alt"></i> Add Publication</a>
        <a class="btn btn-primary" href="/documentation/new"><i class="icon-plus-sign-alt"></i> Add Documentation</a>
    </div>
  {% endif %}
  {% snippet 'snippets/small_search.html' %}
{% endblock %}


{% block form %}
  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': c.remove_field }
  %}
  {% set sorting = [
    (_('Publication Date Ascending'), 'score asc, metadata_created asc'),
    (_('Publication Date Descending'), 'metadata_created desc'),
    (_('Title Ascending'), 'title_string asc'),
    (_('Title Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% snippet 'snippets/search_form.html', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
{% endblock %}

{% block package_search_results_api %}
{% endblock %}

{% block secondary_content %}
  {% if not dataset_type in facets_hide %}
      <h3>Filter Results</h3>
  {% endif %}
  
  {% set facets = visible_facets[dataset_type] if dataset_type in visible_facets else c.facet_titles %}
  {% for facet in facets %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
  {% endfor %}
  
  {% resource 'open_alberta/moment.js' %}
  {% resource 'open_alberta/daterangepicker.js' %}
  {% resource 'open_alberta/daterangepicker-bs3.css' %}
  {% resource 'open_alberta/daterangepicker-module.js' %}

  {# This <section> is the date-range picker widget in the sidebar. #}
  {% if dataset_type in pubdate_facets %}
    <section class="module module-narrow module-shallow date-range">
      <h4 class="module-heading">
        {{ _('Date Added to Catalogue') }}
        <a href="{{ h.remove_url_param(['start_date', 'end_date']) }}"
           class="action">{{ _('Reset') }}</a>
      </h4>
      <div class="wrapper">
        <div class="left-icon-input" data-module="daterange-query">
          <i class="fa fa-calendar"></i>
          <input type="text" id="daterange-publication"
                 data-module="daterangepicker-module" data-field="metadata_created" />
        </div>
      </div>
    </section>
  {% endif %}

  {# This doesn't seem to be used...

  {% if dataset_type in daterange_facets %}
    <section class="module module-narrow module-shallow">
      <h4 class="module-heading">
        <i class="icon-medium icon-calendar"></i> {{ _('Date Coverage') }}
        <a href="{{ h.remove_url_param(['start_date', 'end_date']) }}"
           class="action">{{ _('Reset') }}</a>
      </h4>
      <div class="module-content input-prepend" data-module="daterange-query">
        <span class="add-on"><i class="icon-calendar"></i></span>
        <input type="text" style="width: 150px" id="daterange-coverage" data-module="daterangepicker-module" data-field="modify_date" />
      </div>
    </section>
    {% endif %}  #}

  {% if not dataset_type in facets_hide %}
      <h4 class="suggest"><a target="_blank" href="{{ h.url_for('/suggest') }}">Suggest a Resource</a></h4>
  {% endif %}
{% endblock %}

