{# Latest Publications #}
<div>
  <header class="module-heading link-transitions">
    <h3 class="media-heading"><a href="{% url_for controller='package', action='search', dataset_type='publications', sort='metadata_created desc' %}">{{ _("Latest Publications") }}</a></h3>
  </header>
  <section class="module-content">
            {% set list_class = "unstyled" %}
            {% set item_class = "unstyled" %}
            {% set truncate = 120 %}
            {% set truncate_title = 50 %}
            {% snippet 'snippets/latestdataset_list.html', packages=h.data_alberta_latest_datasets(), list_class=list_class, item_class=item_class, truncate=truncate, truncate_title=truncate_title %}
  <section>
</div>
