<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <h2>Browse Resources</h2>
        </div>
    </div>
    <div class="row midrow">
        <div class="col-md-4">
            <div class="row midcard">
                <div class="col-sm-4 col-md-12 nopadding">
                    <div class="field-content query-count card-image" id="query-count-opendata">
                        <a href='/opendata'><img src="img/od-pix-lake-louise-52756_1280-v0.03.jpg" class="img-responsive space-right-md"></a>
                        <h4></h4>
                    </div>
                </div>
                <div class="col-sm-8 col-md-12">
                    <h2 class="field-content"><a href='/opendata'>{{ _("Open Data") }}</a></h2>
                    <p>Search Government of Alberta Open Data you can use in applications and visualizations.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row midcard">
                <div class="col-sm-4 col-md-12 nopadding">
                    <div class="field-content query-count card-image" id="query-count-publications">
                        <a href="/publications"><img src="img/pubs-trab-02_2161D_canmore_nordic_centre-v0.03.jpg" class="img-responsive space-right-md"></a>
                        <h4></h4>
                    </div>
                </div>
                <div class="col-sm-8 col-md-12">
                    <h2 class="field-content"><a href="/publications">{{ _("Publications") }}</a></h2>
                    <p>Search a growing catalogue of Government of Alberta publications and other information resources.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row midcard">
                <div class="col-sm-4 col-md-12 nopadding">
                    <div class="field-content card-image">
                        <a target="_blank" href="http://www.qp.alberta.ca/"><img src="img/qptile-pix-edmonton-90597_1280-v0.03.jpg" class="img-responsive space-right-md"></a>
                        <h4></h4>
                    </div>           
                </div>
                <div class="col-sm-8 col-md-12">
                    <h2 class="field-content"><a target="_blank" href="http://www.qp.alberta.ca/">{{ _("Queen's Printer") }}</a></h2>
                        <p>Your official source of Alberta government laws and publications since 1906.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row midrow">
        <dix class="col-xs-12 text-center">
            <a href="/dataset" class="btn btn-md btn-info">View All Resources</a>
        </dix>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Interact with Open Government</h2>
        </div>
    </div>
    <div class="row midrow">
        <div class="col-md-4">
            <div class="row midcard">
                <div class="col-sm-4 col-md-12 nopadding">
                    <div class="field-content card-image">
                        <a href='/interact/blog'><img src="img/blog-pix-summit-298332_1280-v0.03.jpg" class="img-responsive space-right-md"></a>
                        <h4></h4>
                    </div>
                </div>
                <div class="col-sm-8 col-md-12">
                    <h2 class="field-content"><a href='/interact/blog'>Open Government Blog</a></h2>
                    <p>Read the latest updates on the Open Government blog to learn when new data becomes available.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row midcard">
                <div class="col-sm-4 col-md-12 nopadding">
                    <div class="field-content card-image">
                        <a href="/interact/visualization"><img src="img/vis-trab-53_4160_northern_lights-v0.03.jpg" class="img-responsive space-right-md"></a>
                        <h4></h4>
                    </div>           
                </div>
                <div class="col-sm-8 col-md-12">
                    <h2 class="field-content"><a href="/interact/visualization">Visualizations</a></h2>
                    <p>View Government of Alberta data visualizations such as interactive maps, dynamic charts, and infographics.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row midcard">
                <div class="col-sm-4 col-md-12 nopadding">
                    <div class="field-content card-image">
                        <a href="/interact/apps-for-alberta"><img src="img/apps-pix-calgary-232052_1280-v0.03.jpg" class="img-responsive space-right-md"></a>
                        <h4></h4>
                    </div>           
                </div>
                <div class="col-sm-8 col-md-12">
                    <h2 class="field-content"><a href="/interact/apps-for-alberta">Apps</a></h2>
                        <p>Explore winning user-submitted apps from the Apps for Alberta contest, and other Government of Alberta apps.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row midrow">
        <dix class="col-xs-12 text-center">
            <a href="/interact" class="btn btn-md btn-info">View all ways to interact</a>
        </dix>
    </div>
    </div>
</div>
