{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('Search all Open Government Resources') %}
<div class="form-group">
    <form method="get" action="{% url_for controller='package', action='search' %}" id="home_search">
        <div class="row">
            <div class="col-md-12 col-lg-6">
               <a href="javascript:{}" class="search-submit" onclick="document.getElementById('home_search').submit();"><i class="fa fa-search"></i></a>
               <input type="text" class="search form-control" name="q" value="" autocomplete="on" placeholder="{{ placeholder }}" />
           </div>
        </div>
    </form>
</div>

