{# {% ckan_extends %} #}
{% block footer_links %}
{% endblock %}
{% block footer_links_ckan %}
<div class="container-fluid footer-contact">
    <div class="col-xs-12">
        <div class="container">
            <div class="col-xs-12 nopadding link-icons">
                <a class="btn btn-lg btn-primary margin-md-right" href="http://alberta.ca/contact.cfm">Contact Us <i class="fa fa-angle-right"></i></a>
                <div class="contact-phone"><p>Click “Contact Us” for options, or call us at:<br><a href="tel:310-0000">310-0000</a> (land line)<br><a href="tel:1-800-232-7215">1-800-232-7215</a> TDD/TTY</p></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-social">
    <div class="col-xs-12">
        <div class="container margin-md-bottom">
            <div class="col-xs-12 nopadding">
                <span class="footer-text">Follow the Government of Alberta on:</span>
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/youralberta.ca" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/YourAlberta" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.flickr.com/photos/29607224@N08" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                    <li><a href="https://www.youtube.com/user/YourAlberta" title="YouTube"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="menu">
                    <li><a href="http://alberta.ca/accessibility.cfm" title="">Accessibility</a></li>
                    <li><a href="http://alberta.ca/privacystatement.cfm" title="">Privacy</a></li>
                    <li><a href="http://alberta.ca/copyright.cfm" title="">© Copyright</a></li>
                </ul>
            </div>
        </div>
    </div>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
{% endblock %}
