{% import 'macros/form.html' as form %}

<h2>{% block page_heading %}{{ _('Clone') }} {{ h.dataset_display_name(pkg) }}{% endblock %}</h2>

<form id="id-clone-ds-form" class="dataset-form form-horizontal" method="post" action="{{ h.url_for('clone', id=pkg.name) }}">
    <div class="top-error-msg">Unexpected error message goes here...</div>
{% block package_basic_fields_title %}
  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('New Title'), 
                attrs={'data-module': 'slug-preview-target'}, is_required=True) }}
{% endblock %}

{% block package_basic_fields_url %}
  {% set prefix = h.url_for(controller='package', action='read', id='') %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('New URL'), 
                  attrs=attrs, is_required=true) }}
{% endblock %}

    <div class="form-actions">
        <button class="btn btn-primary" type="submit" name="save">{{ _('Clone') }}</button>
    </div>
</form>
