{% ckan_extends %}
{% set action = c.form_action or '' %}

{# This provides a full page that renders a form for adding a dataset. It can
then itself be extended to add/remove blocks of functionality. #}
<form id="dataset-edit" class="dataset-form form-horizontal ab-form-{{ c.environ['PATH_INFO'].split('/')[1] }}" 
      method="post" action="{{ action }}" data-module="basic-form">
  {% block stages %}
    {{ super() }}
  {% endblock %}

  <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />
  {% block errors %}{{ super() }}{% endblock %}

  {% block basic_fields %}
    {{ super() }}
  {% endblock %}

  {% block metadata_fields %}
    {{ super() }}
  {% endblock %}

  {% block form_actions %}
    {{ super() }}
  {% endblock %}
</form>