{% ckan_extends %}
{# 
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}


{% block resource_list %}
    {% if resources %}
        <ul class="{% block resource_list_class %}resource-list{% endblock %}">
            {% block resource_list_inner %}
              {{ super() }}
            {% endblock %}
        </ul>
    {% else %}
            <p class="empty">{{ _('This dataset has no data') }}</p>
    {% endif %}
{% endblock %}

