{% set can_edit = h.check_access('package_update', {'id': pkg.id }) %}
{% set resource_icon = h.resource_format_to_icon(res.format) %}

<div class="resource-item" data-id="{{ res.id }}">
  {% if resource_icon != "" %}<i class="rc-icon fa {{ resource_icon }}"></i>{% endif %}

  {% block resource_item_title %}
  <div class="heading">
    <a  href="{{ res.url }}" title="{{ res.name or res.description }}" target="_blank">
      {{ h.resource_display_name(res) | truncate(300) }}
      {{ h.popular('views', res.tracking_summary.total, min=10) }}
    </a>
  </div>
  {% endblock %}
  
  {% block resource_item_links %}
  <div class="links">
    <a class="btn btn-sm" href="{{ h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=res.id) }}">More <i class="fa fa-info-circle"></i></a>
    {% if can_edit %}
    <a class="btn btn-sm" href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">Edit <i class="fa fa-edit"></i></a>
    {% endif %}
  {% if res.has_views and res.can_be_previewed %}
    <a class="btn btn-small" href="#">Preview</a>
  {% endif %}
    <a class="btn btn-sm" href="{{ res.url }}"><i class="fa fa-download"></i>Download</a>
  </div>
  {% endblock %}
</div>


